/*--------------------------- GENERAL ------------------------------------*/

body {
  font-size: 62,5%;
}

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}

a, p {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  color: black;
}

.more-news p, .robot-font li a, .subject, .footer-links li a  {
  font-family: 'Dhurjati', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

i {
  background: url("img/icons-sprite.svg") no-repeat;
  display: block;
  height: 16px;
  margin: auto;
  width: 16px;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.vertical-align {
  align-items: center;
}

nav {
 width: 100%;
}

 .white-text p,  .white-text a, .white-text h2, .white-text h4 {
   color: white;
 }

 .byline {
   font-size: 0.7em;
 }

 .byline.grey, .byline.light-grey {
   color: #AAA;
   font-family: 'Montserrat', "Helvetica Neue", Arial, sans-serif;
   line-height: 50%;
 }

 .copyright p, .more-news-ul li a, .date {
    font-family: 'Montserrat', "Helvetica Neue", Arial, sans-serif;
 }

 .byline.light-grey {
      color: #DDD;
 }



/* --------------------------------- NAV ------------------------------------*/

.nav1 {
  background-color: black;
  height: 32px;
  justify-content: space-between;
}

.nav2 {
  height: 48px;
  justify-content: space-between;
}

.nav2-list {
  justify-content: space-around;
}

.nav-yellow-strap {
  background-color: rgb(255, 221, 51);
  height: 30px;
}

.nav-yellow-strap a {
  font-family: 'Montserrat', "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8125em;
  color: black;
}

.nav-list li a {
  color: #999;
  font-size: 0.8125em;
}

.nav1-left-list li {
  margin-left: 0.75em;
}

.nav1-right-list li {
  margin-right: 0.75em;
}

.robot-font li a {
  padding: 18px 12px 0 12px;
  font-size: 1.2em;
}

.hidden-li {
  display: none;
}

.nav2-right, .nav2-list, .nav2-list ul, .nav2-list li, .nav2-list li a {
  height: 100%;
}

.nav2-list li, .nav2-list li a {
  width: 48px;
}

.nav2-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden-li, .remain-li {
  border-left: 1px solid #EEE;
}

.nav-icon {
  opacity: 0.3;
}

#icon-1 {
  background-position: -256px -256px;
}

#icon-2 {
  background-position: -960px -960px;
}

#icon-3 {
  background-position: -512px -512px;
}

#icon-4 {
  background-position: -560px -560px;
}

#icon-5 {
  background-position: -800px -800px;
}

#icon-hamburger {
  background: url("img/icon-hamburger.png") no-repeat;
  background-position: -3px 1px;
  background-size: cover;
  width: 40px;
  height: 40px;
  opacity: 1;
}

/*--------------------------------- HEADER---------------------------- */

header {
  margin: 0.6%;
  color: white;
  overflow: hidden;
}

.ainer {
  padding: 2%;
  position: relative;
}

.header-text-container {
  height: 100%;
}

.main-header-container {
  background: url("img/primary-header.jpg") no-repeat;
  background-size: cover;
  width: 65%;
  z-index: 1;
}

.second-header-container {
  background: url("img/second-header.jpg") no-repeat;
  margin-left: 2%;
  margin-bottom: 2%;
}

.third-header-container {
  background: url("img/third-header.jpg") no-repeat;
  margin-left: 2%;
}

 .linear-gradient.linear-gradient-top {
   height: inherit;
 }

.header-right {
  width: 35%;
}

 .flex-grow-2 {
   flex-grow: 2;
 }

#logo {
  width: 50%;
  margin: 0;
}

.date {
  margin: 1%;
  position: absolute;
  right: 1%;
  top: 1%;
}

.article-title, .subject {
  margin: 1% 0;
}

.article-title {
  line-height: 1.15em;
}

.big-article-title {
  font-size: 3.5em;
}

.subject {
  font-size: 1.2em;
}

.header-byline.light-grey {
  line-height: 1.2em;
}

#clock-icon, #share-icon {
  margin: 0 1%;
  transform: scale(.875,.875);
  opacity: 0.7;
}

#clock-icon {
  background-position: -160px -160px;
}

#share-icon {
  background-position: -864px -864px;
}

/*---------------------------- latest News --------------------------------*/

.articles-header a {
  color: #F42;
  font-size: 1.3em;
  font-weight: 700;
  font-family: Avalon, sans-serif;
}

.articles-header::after {
background-image: url("img/arrow.svg");
content: '';
display: inline-block;
height: 16px;
margin-left: 4px;
top: 0;
width: 16px;
}

.latest-article {
  flex-direction: column;
  flex-basis: 23%;
  max-width: 23%;
  margin: 1%;
}

.latest-articles, .apps-gear-tech {
  flex-wrap: wrap;
  justify-content: space-around;
}

.latest-img {
  width: 100%;
  margin-bottom: 2%;
}

/* -------------------------APPS-GEAR-TECH-------------------------------- */

.apps-gear-tec {
 margin-top: 8%;
}

.apps-gear-tech-content h4, .apps-gear-tech-content p, .apps-gear-tech-content h2 {
  margin: 0 2% 1% 2%;
}

.apps-gear-tech-content p {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 0.7em;
}

.secondary-article {
    flex-direction: column;
    flex-basis: 31%;
    max-width: 31%;
    margin-right: 2%;
}

 .smaller-header {
    font-size: 0.985em;
 }

 .article-img {
   background-size: cover;
   height: 50%;
   z-index: 1;
 }

 .apps-pic {
   background: url("img/apps-pic.jpg") no-repeat;
 }

 .gear-pic {
   background: url("img/gear-pic.jpg") no-repeat;
 }

 .tech-pic {
   background: url("img/tech-pic.jpg") no-repeat;
 }

 .linear-gradient {
   background: url("img/image-gradient.png") no-repeat rgba(0,0,0,.25);
   width: 100%;
   height: 100%;
   background-size: 100% 100%;
   padding: 2% 2% 0 2%;
   position: relative;
   z-index: 2;
 }

 .more-news p {
   color: #F42;
   font-size: 1.25em;
   text-transform: uppercase;
   margin: 5% 0;
 }

 .more-news-ul li {
   list-style: circle;
   margin-bottom: 4px;
   border-bottom: 1px solid #CCC;
   padding-bottom: 1%;
 }

.more-news-ul li a {
    font-size: 0.8em;
    color: #444;
}

  .more-news-ul li a:hover {
    color: #333;
  }

/*---------------------------------- FOOTER------------------------------- */

footer {
  margin-top: 10%;
  align-self: flex-end;
  background-color: #111;
  color: white;
  width: 100%;
}

.footer-links li a {
  color: #AAA;
  margin: 0 10% 0 10%;
  font-size: 1.2em;
}

.footer-links {
  justify-content: space-around;
}

.up-footer {
  margin: 3% auto;
  width: 27%;
}

.footer-social-links {
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.footer-social-links li {
  margin: 0 8px;
}

.footer-social-links li a {
  display:flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #333;
}

.footer-social-links li a:hover {
  height: 36px;
  width: 36px;
  background-color: black;
  border: 2px solid #333;
}

#facebook {

  background-position: -272px -272px;
  z-index: 4;
}

#tweeter {
  background-position: -976px -976px;
}

#youtube {
  background-position: -1232px -1232px;
}

#instagram {
  background-position: -368px -368px;
}

#pinterest {
  background-position: -624px -624px;
}

#rss {
  background-position: -768px -768px;
}

#mail {
  background-position: -528px -528px;
}

.copyright {
  background-color: black;
  justify-content: space-around;
}

.copyright p {
  color: #AAA;
  font-size: 0.8em;
}

.white {
  color: white;
  font-size: 1.2em;
}

/* ---------------------------- RESPONSIVE -------------------------------- */

img {
  max-width: 100%;
}

@media screen and (max-width: 1080px) {
  .latest-article {
    flex-basis: 30%;
    max-width: 30%;
  }
}

@media screen and (max-width: 850px) {
  main {
    width: 90%;
  }
  .latest-article {
    flex-basis: 45%;
    max-width: 45%;
  }
  .apps, .gear {
    flex-basis: 45%;
    max-width: 45%;
  }
  .tech {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 12%;
    height: 100%;
  }
  .tech .more-news p {
    margin: 2% 0;
  }
  footer {
    margin-top: 5%;
  }
}

@media screen and (max-width: 750px) {
  .nav1, .nav2-left, .nav-yellow-strap, .nav2-list li:not(.remain-li):not(.hidden-li) {
    display: none;
  }
  .hidden-li {
    display: block;
  }
  .nav2 {
    justify-content: flex-end;
  }
  header {
    flex-direction: column;
    align-items: center;
    margin: 1%
  }
  .main-header-container {
    width: 100%;
    margin: 1.5%;
    margin-bottom: 0;
    align-items: center;
  }
  .header-right {
    margin: 1.5%;
    width: 100%;
  }
  .second-header-container, .third-header-container {
    margin-left : 0;
    margin-bottom: 1.5%;
  }
}

@media screen and (max-width: 600px) {
    .date, #logo {
      display: none;
    }
    .big-article-title {
      font-size: 1.5em;
    }
    .latest-articles {
      flex-direction: column;
    }
    .tech {
      margin-top: 20%;
    }
    .apps-gear-tech {
      margin-top: 5%;
    }
    .latest-article {
      flex-basis: inherit;
      max-width: inherit;
    }
    .footer-links li a {
      font-size: inherit;
    }
    .footer-social-links li {
      margin: 0 4px;
    }
    .footer-social-links {
      margin-bottom: 10%;
    }
    .copyright p {
      display: flex;
      flex-direction: column;
      align-items: center
    }
    .copyright p span {
      line-height: 1.7em;
    }
}

@media screen and (max-width: 430px) {
  .apps-gear-tech {
    margin-top: 0;
  }
  .article-title, .articles-header a {
    font-size: 1.2em;
  }
  .secondary-article {
    flex-basis: 100%;
    max-width: 100%;
    height: 100%;
    margin-top: 5%;
  }
  .up-footer {
    margin: 5%;
    width: 90%;
  }
  .footer-social-links {
    margin-bottom: 7%;
  }
}
